node_modules/
out/
public/
!template/public/
template/public/*
!template/public/sfx/
!template/public/audio/
data/words*.json
data/sentences.json
data/cuts.json
data/timeline.json
.DS_Store
*.mp4
*.mov
*.png
*.jpg
*.woff2
